.center {
    text-align: center;
    vertical-align: middle;
  }
  
  .left {
    text-align: left;
    vertical-align: middle;
  }
  
  th {
    text-align: center;
  }
  
  th:nth-child(2),
  td:nth-child(2) {
    text-align: left;
  }
  
  th:nth-child(7),
  td:nth-child(7) {
    text-align: left;
  }
  