/* Reset geral e padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Travando o HTML, body e root */
html, body, #root {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}
